@import url(./fonts.css);

@import url(./reset.css);




.header {
    font-family: "Popins";
    color: #000;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px 2px #091b6a;
}

.paragraph {
    font-family: "Oswald-Regular";
    color: #000000;
    font-size: 20px;

}






























.header__title {
    font-family: "Work-Sans-sem";
    color: #132238;
    font-size: 38px;
    text-align: center;
    font-weight: 600;
}

.subtitle {
    font-family: "Work-Sans-reg";
    color: #556070;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

.subtitle {
    font-family: "Work Sans", serif;
    color: #556070;
    font-size: 18px;
    font-weight: 400;
    text-align: left;

}

.main_title {
    font-family: "DMSans-Bold";
    color: #1E1B39;
    font-size: 88px;
    font-weight: 700;
    text-align: center;
}

.subtitle1 {
    font-family: "DM-Sans-reg";
    color: #474464;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}

.subtitle2 {
    font-family: "DM Sans";
    color: #474464;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}

.footer__title {
    font-family: "Roboto-Medium";
    color: #091133;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
}

.footer__sibtitle {
    font-family: "Roboto-Regular";
    color: #505F98;
    font-size: 18px;
    font-weight: 400;

}