@import url(./fonts.css);

@import url(./reset.css);


.header__title {
    font-family: "Work-Sans-rg";
    color: #132238;
    font-size: 38px;
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
    text-shadow: 1px 2px 4px #910cbb;
    letter-spacing: 5px;
}

.header__subtitle {
    font-family: "Work-Sans-sem";
    color: #556070;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    text-shadow: 1px 1px 2px #556070;
}

.subtitle2 {
    font-family: "Gowun Batang", serif;
    color: #556070;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    text-shadow: 1px 1px 2px #556070;
}

.main__title {
    font-family: "DM-Sans-bold";
    color: #1E1B39;
    font-size: 88px;
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 2px 4px #910cbb;
    text-decoration: underline;
}

.subtitle3 {
    font-family: "DM-Sans-reg";
    color: #474464;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    text-decoration: underline;

}

.subtitle4 {
    font-family: "DM Sans";
    color: #474464;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}

.footer__title {
    font-family: "Roboto-Medium";
    color: #091133;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: underline;
    text-shadow: 1px 2px 4px #910cbb;
    text-align: center;
}

.footer__sibtitle {
    font-family: "Roboto-Regular";
    color: #505F98;
    font-size: 18px;
    font-weight: 400;
    text-decoration: line-through;
}